@{
    ViewData["Title"] = "Department";
    Layout = "~/Layout/_Layout.cshtml";
}

<!-- Start Page Content -->
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex flex-row align-content-between justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary">Department Table</h5>
            <div data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">
                <button class="btn btn-outline-success btn-circle" data-toggle="tooltip" data-placement="top" data-animation="false" title="Add">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header no-bd">
                        <h5 class="modal-title"><span class="fw-mediumbold">Form Data</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <input type="text" id="Id" name="Id" class="form-control" hidden>
                                @*<div class="col-sm-12">
                                        <div class="form-group">
                                        </div>
                                    </div>*@
                                <div class="col-sm-12">
                                    <div class="form-group form-group-default">
                                        <label>Name</label>
                                        <input type="text" id="Name" name="Name" class="form-control" placeholder="fill name">
                                    </div>
                                    @*<div class="form-group form-group-default">
                                        <label>createDate</label>
                                        <input type="text" id="createDate" name="createDate" class="form-control" placeholder="fill name">
                                    </div>
                                    <div class="form-group form-group-default">
                                        <label>updateDate</label>
                                        <input type="text" id="updateDate" name="updateDate" class="form-control" placeholder="fill name">
                                    </div>*@
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer no-bd">
                        <button type="button" id="add" class="btn btn-outline-success" data-dismiss="modal" onclick="Save();">Insert</button>
                        <button type="button" id="update" class="btn btn-outline-warning" data-dismiss="modal" onclick="Update();">Update</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <div class="table-responsive">
            <table class="table table-bordered" id="department" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Department Name</th>
                        <th>Create Date</th>
                        <th>Update Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- End PAge Content -->

@section Scripts{
    <script src="~/content/assets/vendor/bootstrap/js/Department.js"></script>
}